<div class="top"><h1> Our Craft Syrups </h1> </div>




<h2><%= link_to "Add New Product", "/index/new" %> </h2>


  <% @ap.each do |product| %>

      <p><a href="/index/<%= product.id %>"> <img src="<%= product.image %>"> </p>
      <p><a href="/index/<%= product.id %>"><%= product.name %></a></p>
      <p><%= product.description %></p>
      <p>$<%= product.price %></p>  
 
  <% end %>









