
  
<div class="top"><h1> <%= @sp.name %>  </h1> </div>

<h1>Updated on: <%= @sp.friendly_updated_at %> </h1>

    <h3> <img src="<%= @sp.image %>"></h3>
    <h3><%= @sp.name %></h2>
    <h3></h3>
    <h3><%= @sp.description %></h3>
    <h3>$<%= @sp.price %></h3>  
    <h3><%= @sp.sale_message %></h3>
    <h3></h3>
    <h3>Total with tax: <%= @sp.total_sum %></h3>

      <!-- Adds Delete Button with A confirm destroy -->
      

  <a class="btn btn-primary" href="/index/<%= @sp.id %>/edit" role="button">EDIT</a>

   <a data-confirm="Are you sure ?" data-method="delete" href="/index/<%= @sp.id%>" rel= "nofollow"><div class= "delete">Delete</div> </a>




