<!DOCTYPE html>
<html>
<head>
  <title>SaleApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

 <div class="cotainer">
 <% flash.each do |name, message| %> 
  
  <!-- Adds alerts the data was edited of delted --> 
  <div class="alert alert-<%= name %>" role="alert"><%= message %></div>
  <% end %>  

<%= yield %>

</div>

</body>
</html>
